<% if @search %>
  <h3>Search Results for "<%= @term %>"</h3>
  <h6><a href="/albums">View All</a></h6>
<% else %>
  <h3>Available Records</h3>

<% end %>
<% if @albums.any? %>
  <ul>
    <% @albums.each do |album| %>
      <li><a href="/albums/<%= album.id %>"><%= album.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no records to display.</p>
<% end %>

<a href="/albums/new">Add a new album</a>

<form action="/albums">
  <div class="form-group">
    <label for="search">Search By Albums</label>
    <input id="search" name="search" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
