<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <title>Papa's Permanent Record Store</title>
  </head>
  <body>
    <div class="container">
      <h1>Papa's Permanent Record Store</h1>
      <%= yield %>
      <p><a href="/">Home</a></p>
      <p><a href="/albums">View all albums</a></p>
      <p><a href="/songs">View all songs</a></p>
      <p><a href="/artists">View all artists</a></p>
    </div>
  </body>
</html>
