<h1>Add new artist</h1>

<form action="/artists" method="post">
  <div class="form-group">
    <label for="artist_name">Artist name</label>
    <input type="text" name="artist_name" id="n" class="form-control">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
