<h1>Add new album</h1>

<form action="/albums" method="post">
  <div class="form-group">
    <label for="album_name">Album name</label>
    <input type="text" name="album_name" id="n" class="form-control">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>

<a href="/albums">Return to album list</a>
