<% if @search %>
  <h3>Search Results for "<%= @term %>"</h3>
  <h6><a href="/songs">View All</a></h6>
<% else %>
  <h3>Available Songs</h3>
<% end %>
<% if @songs.any? %>
  <ul>
    <h4>Click to view album</h4>
    <% @songs.each do |song| %>
      <li><a href="/albums/<%= song.album_id %>"><%= song.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no songs to display.</p>
<% end %>

<form action="/songs">
  <div class="form-group">
    <label for="search">Search By Songs</label>
    <input id="search" name="search" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
